<!-- Top navigation bar -->
<app-top-navbar></app-top-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- SideNav -->
    <div class="col-lg-3">
      <app-side-navbar></app-side-navbar>
    </div>
    <!-- Content Body -->
    <div class="col-md-9 ml-sm-auto mt-5 px-2 pt-2">
      <div class="d-flex pb-2 mb-2 border-bottom">
        <h3>Campaigns</h3>
      </div>
        <ngb-tabset>
          <!-- On Demand Sms -->
          <ngb-tab title="To All" id="allTab">
              <ng-template ngbTabContent>
                <app-to-all></app-to-all>                 
              </ng-template>
            </ngb-tab>
          <!-- On Demand Sms -->
          <ngb-tab title="To Group" id="nowTab">
            <ng-template ngbTabContent>
              <app-one-time-campaign></app-one-time-campaign>                 
            </ng-template>
          </ngb-tab>
          <!-- Scheduled Campaigns -->
          <ngb-tab title="Schedule" id="scheduleTab">
            <ng-template ngbTabContent>
              <app-scheduled-campaign></app-scheduled-campaign>
            </ng-template>
          </ngb-tab>
          <!-- Manage Campaigns -->
          <ngb-tab title="Manage" id="manageTab">
            <ng-template ngbTabContent>
              <app-manage-campaigns></app-manage-campaigns>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
    </div>
  </div>
</div>
