
<div class="card border-top-0 shadow">
  <div class="card-body">
    <div class="card mx-3 mb-4">
      <div class="card-body bg-light m-0 py-1">
        <p>
          <small class="form-text text-center text-muted">
            *Edit user details and reset user password 
            (if user has forgotten their password)
            and also delete the user.
          </small>
        </p>
      </div>
    </div>
    <!-- Users Table -->
    <!-- <div class="btn-group" role="group" aria-label="Actions">
      <button onclick="edit($event)" class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-placement="top" title="Edit user details"><i class="fa fa-pencil"></i></button>
      <button class="btn btn-sm btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Reset user password"><i class="fa fa-repeat"></i></button>
      <button class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete user"><i class="fa fa-trash"></i></button>
    </div>
    <button class="btn btn-sm btn-success" disabled type="button"><i class="fa fa-toggle-on fa-lg"></i> enabled</button>
    <button class="btn btn-sm btn-danger" disabled type="button"><i class="fa fa-toggle-off"></i> disabled</button> -->
    <div>
        <ngx-datatable [rows]="rows" [columns]="columns" class="material" [limit]="perPage">
        </ngx-datatable>
      </div>

  </div>
</div>

<!-- Edit User Details -->
<ng-template #editModal let-c="close" let-d="dismiss">
  <!-- <div class="modal-header">
    <h4 class="modal-title">Edit User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <div class="modal-body">
    <form [formGroup] = "form" (ngSubmit) = "editUser(form.value)">
      <!-- First and Last Names -->
      <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="firstName" placeholder="Surname">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Other Names">
      </div>
      <!-- Role -->
      <div class="input-group mt-2 mb-0">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-cog"></i></span>
        </div>
        <select id="role" class="form-control" formControlName="role">
            <option value="0" selected>Select role</option>
            <option *ngFor="let role of roles" >{{role}}</option>
        </select>
      </div>
      <!-- Account Status -->
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="acntStatus" id="enabled" value="true">
        <label class="form-check-label" for="once">enable</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" formControlName="acntStatus" id="disabled" value="false">
        <label class="form-check-label" for="scheduled">disable</label>
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="!form.valid">Save Edit</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Dismiss</button>
  </div>
</ng-template>

<!-- Reset User Password -->
<ng-template #resetModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>

<!-- Delete User -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>