
<div class="card border-top-0 shadow">
  <div class="card-body">
    <div class="card mx-3 mb-4">
      <div class="card-body bg-light m-0 py-1">
        <p>
          <small class="form-text text-center text-muted">
            *Edit user details and reset user password 
            (if user has forgotten their password)
            and also delete the user.
          </small>
        </p>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <!-- Per Page Entries -->
      <div class="input-group col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">Show</span>
        </div>
        <select class="custom-select" id="perPageEntries" (change)="changePageEntries($event)">
          <option *ngFor="let pageNo of perPageNos">{{pageNo}}</option>
        </select>
        <div class="input-group-append">
          <span class="input-group-text">Entries</span>
        </div>
      </div>
      <!-- Search -->
      <div class="input-group col-sm-7">
        <input type="text" class="form-control" placeholder="Search by Email" (keyup)='search($event)' aria-label="Search by Email" aria-describedby="search">
        <div class="input-group-append">
          <span class="input-group-text" id="search"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <!-- Users Table -->
    <ngx-datatable class="bootstrap mt-3" [rows]="users" [limit]="perPage" [columnMode]="'flex'"
      [rowHeight]="55" [cssClasses]="customPagerIcons" [footerHeight]="40" [scrollbarH]="true">
      <ngx-datatable-column name="id" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="first name" [flexGrow]="2">        
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          <span *ngIf="!edit[rowIndex]">{{value}}</span>        
          <input *ngIf="edit[rowIndex]" type="text" class="form-control form-control-sm" [value]="value" (blur)="setFName($event, rowIndex)">
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="last name" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          <span *ngIf="!edit[rowIndex]">{{value}}</span>        
          <input *ngIf="edit[rowIndex]" type="text" class="form-control form-control-sm" [value]="value" (blur)="setLName($event, rowIndex)">
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="email" [flexGrow]="3"></ngx-datatable-column>
      <ngx-datatable-column name="role" [flexGrow]="1">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          <span *ngIf="!edit[rowIndex]">{{row.credentials.role}}</span>
          <select *ngIf="edit[rowIndex]" class="form-control form-control-sm py-1" (change)="setRole($event, rowIndex)">
            <option selected>Change...</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="acnt status" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          
          <button *ngIf='row.credentials.active' (click)="row.credentials.active = false" class="btn btn-sm btn-success" [disabled]="!edit[rowIndex]" type="button"><i class="fa fa-toggle-on fa-lg"></i> active</button>
          <button *ngIf='!row.credentials.active' (click)="row.credentials.active = true" class="btn btn-sm btn-danger" [disabled]="!edit[rowIndex]" type="button"><i class="fa fa-toggle-off fa-lg"></i> disabled</button>  
         </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="signed In" [flexGrow]="2">
        <ng-template ngx-datatable-cell-template let-row="row">{{row.credentials.lastSignIn}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
          <div class="btn-group" role="group" aria-label="actions">
            <button (click)="editUser(rowIndex)" *ngIf='!edit[rowIndex]' class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-placement="top" title="Edit user details"><i class="fa fa-pencil"></i></button>
            <button (click)="updateUser(rowIndex)" *ngIf='edit[rowIndex]' class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="update"><i class="fa fa-check"></i></button>
            <button (click)="openReset(resetModal, row, rowIndex)" class="btn btn-sm btn-outline-warning" data-toggle="tooltip" data-placement="top" title="Reset user password"><i class="fa fa-repeat"></i></button>
            <button (click)="confirmDelete(deleteModal, row, rowIndex)" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete user"><i class="fa fa-trash"></i></button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Reset User Password -->
<ng-template #resetModal let-c="close">
  <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="c()">
          <span aria-hidden="true">&times;</span>
        </button>
  </div>
  <div class="modal-body">
    <div class="row text-center mb-4">
      <div class="col-sm-12">
        <h2 class="modal-title"><i class="fa fa-lock fa-4x"></i></h2>
      </div>
      <div class="col-sm-12">
        <h5>Reset Password</h5>       
      </div>
    </div>
    <div class="input-group mb-2 px-5">
      <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user fa-lg"></i></span>
      </div>
      <input type="text" class="form-control text-primary" name="email" [(ngModel)]="email" readonly>
    </div>
    <form [formGroup] = "form" (ngSubmit) = "reset(form.value)">
      <div class="input-group mb-2 px-5">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-lock fa-lg"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="resetPass" placeholder="enter reset password">
      </div>
      <hr>
      <button type="submit" class="btn btn-warning text-center" [disabled]="!form.valid">Reset <i class="fa fa-refresh"></i></button>
    </form>
  </div>
</ng-template>

<!-- Delete User -->
<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header bg-danger text-white">
    <h5 class="modal-title"><i class="fa fa-warning fa-lg"></i> Confirm Deletion</h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete <span class="bg-light border rounded px-2"> <b>{{deleteUser.firstName}}</b></span>  
    <span class="bg-light border rounded px-2"> <b>{{deleteUser.lastName}}</b></span> 
    of email <span class="bg-light border rounded px-2"> <b>{{deleteUser.email}}</b></span> ?    
  <hr>
  <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-outline-danger" (click)="delete()">Delete</button>
      <button type="button" class="btn btn-success" (click)="c('Save click')">Dismiss</button>
  </div>
  </div>
</ng-template>