<div class="card border-top-0 shadow">
  <div class="card-body">
    <form [formGroup] = "form" (ngSubmit) = "sendSms(form.value)">
      <div class="row mb-4 bg-light p-2 border rounded shadow-sm">
        <div class="col-sm-4">
          <h6 class="">Compose message</h6>
        </div>
        <div class="col-sm-8">
          <small class="d-flex flex-row-reverse bd-highlight">
            <div class="bd-highlight text-success"> ksh 0 </div>
            <div class="bd-highlight pr-2">:</div>
            <div class="bd-highlight">Charges </div>
            <div class="bd-highlight px-2"> | </div>
            <div class="bd-highlight"> 2000,000 </div>
            <div class="bd-highlight px-2"> | </div>
            <div class="bd-highlight">Contacts </div>
          </small>
        </div>
      </div>
      <div class="form-group">
        <textarea class="form-control shadow-sm" maxlength="320" formControlName="message" rows="5" 
        placeholder="Message" aria-describedby="messageHelp"></textarea>
        <small id="messageHelp" class="form-text text-muted">
          Compose a text that is less than 160 characters long, otherwise additional charges apply.
        </small>
      </div>
      <hr class="mb-0">
      <div class="row">
        <div *ngIf="!isLong" class="col text-muted my-0 pb-0">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="bd-highlight"> Characters </div>
            <div class="bd-highlight px-2"> | </div>
            <div class="bd-highlight"> {{count}} </div>
          </div>
        </div>
        <div *ngIf="isLong" class="col text-warning my-0 pb-0">
          <div class="d-flex flex-row-reverse bd-highlight">
            <div class="bd-highlight"> Characters </div>
            <div class="bd-highlight px-2"> | </div>
            <div class="bd-highlight"> {{count}} </div>
          </div>
        </div>
      </div>
      <small *ngIf="isLong" class="d-flex text-warning bg-light rounded 
      flex-row-reverse bd-highlight mt-0">
        warning: additional charges will be applied
      </small>
      <button class="btn btn-primary btn-block mt-4" type="submit" [disabled]="!form.valid">
        Send Sms
      </button>
    </form>
  </div>
</div> 


