
.form-signin{
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
// .ng-invalid:not(form)  {
//     border: 1.5px solid #e42825; /* red */
//   }