
<nav class="col-md-3 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a *ngIf="isAdmin()" routerLink="/dashboard" routerLinkActive="active" class="nav-link" >
          <i class="fa fa-bar-chart fa-lg"></i> 
          <span class="clearfix d-none d-sm-inline-block">Dashboard</span>
        </a> 
      </li>
      <li class="nav-item">
        <a routerLink="/profile" routerLinkActive="active" class="nav-link">
          <i class="fa fa-user-circle-o fa-lg"></i>
          Profile
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="isAdmin()" routerLink="/admin" routerLinkActive="active" class="nav-link">
          <i class="fa fa-cogs fa-lg"></i>
          Users
        </a> 
      </li>
      <li class="nav-item">
        <a routerLink="/campaigns" routerLinkActive="active" class="nav-link">
          <i class="fa fa-comments-o fa-lg"></i>
          Campaigns
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/clients" routerLinkActive="active" class="nav-link">
          <i class="fa fa-group fa-lg"></i>
          Contacts
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/"  class="nav-link">
          <i class="fa fa-file-text-o fa-lg"></i>
          Reports
        </a>
      </li>
    </ul>
  </div>
</nav>
