<!-- Top navigation bar -->
<app-top-navbar></app-top-navbar>
<div class="container-fluid">
  <div class="row">
    <!-- SideNav -->
    <nav class="col-lg-3">
      <app-side-navbar></app-side-navbar>
    </nav>
    <!-- Content Body -->
    <div class="col-md-9 ml-sm-auto mt-5 px-2 pt-2">
      <div class="row">
        <div class="col">
            <div class="d-flex pb-2 mb-3 border-bottom">
                <h3>Dashboard</h3>
              </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-6">
          <div class="card shadow mb-5 rounded"> 
            <div class="card-body">
              <div *ngIf="unitsAvailableIsLoading" class="spinner mt-3">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <h4 class="card-title">{{unitsDetails.unitsAvailable | currency:'ksh '}} </h4> 
            </div>
            <div class="card-footer text-right text-muted">
              <h6 class="card-text text-right">
                Units Available
              </h6>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card shadow mb-3 rounded">
            <div class="card-body">
              <div *ngIf="previousMonthUnitsIsLoading" class="spinner mt-3">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
              <h4 class="card-title">{{unitsSpentPreviousMonth | currency:'ksh '}} </h4>
            </div>
            <div class="card-footer text-right text-muted">
              <h6 class="card-text text-right">
                  Units Spent Previous Month
              </h6>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card shadow rounded">
            <div class="card-body p-2 bg-light">
              <div class="d-flex flex-row-reverse bd-highlight">
                <div class="px-2 bd-highlight">
                  <button type="button" class="btn btn-sm btn-outline-secondary"
                    data-toggle="tooltip" data-placement="top" title="Pending Requests" placement="left" 
                    ngbPopover="Total Amount Requested: {{unitsDetails.requestsPendingApprovalAmount | currency: 'ksh '}}" 
                    popoverTitle="Requested Amount">
                    Requests 
                    <span class="badge badge-info">{{unitsDetails.requestsPendingApproval}}</span>
                  </button>
                </div>
                <div class="px-3 bd-highlight"> | </div>
                <div class="px-2 bd-highlight">
                  <button type="button" class="btn btn-sm btn-outline-secondary" (click)="openUnitsRequestModal()"
                    data-toggle="tooltip" data-placement="top" title="Send request to add units">
                    <i class="fa fa-plus-circle"></i>
                    Request Units
                  </button>
                </div>
                <div class="px-3 bd-highlight"> | </div>
                <div class="px-2 bd-highlight">
                  <select class="form-control form-control-sm px-3" id="selectYear" (change)="changeMonthlyExpenditure($event)">
                    <option *ngFor="let year of years" [value]="year">{{year}}</option>
                  </select> 
                </div>
                <div class="pr-0 pt-1 bd-highlight text-muted"> Choose Year: </div>
                <div class="px-3 bd-highlight d-sm-none  d-lg-block"> | </div>
                <div class="pl-2 pr-0 pt-1 bd-highlight text-muted d-sm-none d-lg-block"> Monthly Campaigns</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3 px-4">
        <div class="col">
            <div *ngIf="expendituresAreLoading" class="spinner mt-3">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <div [hidden]="expendituresAreLoading">              
              <canvas id="monthlySmsExpenditureChart" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>