<div class="card border-top-0 shadow">
  <div class="card-body">
    <p class="bg-light p-2 rounded"><b>Single Client creation:</b></p>
    <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <form [formGroup] = "form" (ngSubmit) = "createClient(form.value)">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" formControlName="names" placeholder="Full names">
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i></span>
          </div>
          <input type="number" class="form-control col-sm-2" formControlName="code" placeholder="Country Code">
          <input type="number" class="form-control col-sm-10" formControlName="phone" placeholder="Phone Number">
        </div>
      <button type="submit" class="btn btn-primary btn-block mb-2" [disabled]="!form.valid">Create Client</button>
    </form>
    <hr class="mb-4">
    <p class="bg-light p-2 rounded"><b>Multiple Client creation:</b></p>
    <form [formGroup] = "fileForm" (ngSubmit) = "createClients(fileForm.value)">
      <div class="form-group">
        <label for="importFile">Import from File</label>
        <input type="file" class="form-control-file" id="importFile" formControlName="file">
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-2" [disabled]="!fileForm.valid">Create Clients</button>
    </form>
  </div>
</div>  
   
