<div class="card border-top-0 mb-5 shadow">
  <div class="card-body">
    <h6 class="mb-4 bg-light p-2 rounded shadow-sm">Campaigns:</h6>
    <div class="d-flex justify-content-between">
      <!-- Per Page Entries -->
      <div class="input-group col-sm-5">
        <div class="input-group-prepend">
          <span class="input-group-text">Show</span>
        </div>
        <select class="custom-select" (change)="changePageEntries($event)">
          <option *ngFor="let pageNo of perPageNos">{{pageNo}}</option>
        </select>
        <div class="input-group-append">
          <span class="input-group-text">Entries</span>
        </div>
      </div>
      <!-- Search -->
      <div class="input-group col-sm-7">
        <input type="text" class="form-control" placeholder="Search by Name" (keyup)='search($event)' aria-label="Search by Email" aria-describedby="search">
        <div class="input-group-append">
          <span class="input-group-text" id="search"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <!-- Schedules Table -->
    <ngx-datatable class="bootstrap mt-3" [rows]="schedules" [limit]="perPage" [columnMode]="'flex'"
      [rowHeight]="55" [cssClasses]="customPagerIcons" [footerHeight]="40" [scrollbarH]="true">
      <ngx-datatable-column name="jobName" [flexGrow]="2"></ngx-datatable-column>
      <ngx-datatable-column name="groupName" [flexGrow]="2"></ngx-datatable-column>
      <ngx-datatable-column name="scheduleTime" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          <span class="border rounded bg-light p-2">
            <i class="fa fa-clock-o fa-lg text-primary"></i> {{value.getHours()}}:{{value.getMinutes()}} 
            <i class="fa fa-calendar fa-lg text-primary"></i> {{value.toISOString().slice(0,10)}}
          </span> 
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="lastFiredTime" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          <span class="border rounded bg-light p-2">
            <i class="fa fa-clock-o fa-lg text-danger"></i> {{value.getHours()}}:{{value.getMinutes()}} 
            <i class="fa fa-calendar fa-lg text-danger"></i> {{value.toISOString().slice(0,10)}}
          </span> 
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="nextFireTime" [flexGrow]="3">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
          <span class="border rounded bg-light p-2">
            <i class="fa fa-clock-o fa-lg text-success"></i> {{value.getHours()}}:{{value.getMinutes()}} 
            <i class="fa fa-calendar fa-lg text-success"></i> {{value.toISOString().slice(0,10)}}
          </span> 
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="jobStatus" [flexGrow]="3.5">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex"> 
          <button *ngIf='value == "RUNNING" && !scheduleStopped[rowIndex]' (click)="pauseSchedule(row, rowIndex)" class="btn btn-sm btn-success mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Click to Pause schedule"><i class="fa fa-ellipsis-h fa-lg"></i> Running</button>
          <button *ngIf='scheduleStopped[rowIndex] || value == "PAUSED"' (click)="runSchedule(row, rowIndex)" class="btn btn-sm btn-warning mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Click to resume running schedule"><i class="fa fa-circle"></i> Resume</button>
          <button *ngIf='scheduleStopped[rowIndex] || value == "PAUSED"' (click)="stopSchedule(row, rowIndex)" class="btn btn-sm btn-outline-danger mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Click to stop schedule"><i class="fa fa-square"></i> Stop</button>
          
          <button *ngIf='value == "SCHEDULED"' (click)="runSchedule(row, rowIndex)" class="btn btn-sm btn-outline-secondary mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Click to run schedule now"><i class="fa fa-play"></i> Scheduled</button>
          <button *ngIf='value == "COMPLETE"' class="btn btn-sm btn-info mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Schedule is complete"><i class="fa fa-check"></i> Completed</button>
          <button *ngIf='value == "ERROR"' class="btn btn-sm btn-danger mx-1"  type="button" data-toggle="tooltip" data-placement="top" title="Schedule has an error"><i class="fa fa-warning"></i> Error</button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="actions" [flexGrow]="1.5">
          <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="rowIndex">
            <div class="btn-group" role="group" aria-label="actions">
              <button (click)="editSchedule(editModal, row, rowIndex)" [disabled]='row.jobStatus == "COMPLETE"' class="btn btn-sm btn-outline-info" data-toggle="tooltip" data-placement="top" title="Edit schedule"><i class="fa fa-pencil"></i></button>
              <button (click)="confirmDelete(deleteModal, row, rowIndex)" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="Delete schedule"><i class="fa fa-trash"></i></button>
            </div>
          </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<!-- Edit Schedule Details -->
<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>
</ng-template>